ace_tools==0.0
adapter-transformers==4.0.0
adapters==1.0.0
aiohappyeyeballs==2.3.5
aiohttp==3.11.11
aiolimiter==1.2.1
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.14.1
amqp==5.2.0
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.6.2.post1
appdirs
appnope
arrow==1.3.0
asgiref==3.8.1
asttokens
attrs==24.2.0
auth0-python==4.8.0
autobahn==24.4.2
Automat==25.4.16
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4
bert-score==0.3.13
billiard==4.2.1
biopython==1.84
bleach==6.2.0
blessed==1.20.0
blinker==1.9.0
blis==1.0.1
Brotli
build==1.2.2.post1
cachetools==5.5.1
catalogue==2.0.10
celery==5.4.0
certifi
cffi==1.17.0
channels==4.2.2
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.18.1
cohere==5.13.11
colorama
coloredlogs==15.0.1
comm
confection==0.1.5
constantly==23.10.4
contourpy==1.2.1
crewai==0.100.0
crewai-tools==0.33.0
cryptography==44.0.0
cssselect
cycler==0.12.1
cymem==2.0.8
Cython==0.29.37
daphne==4.1.2
dataclasses-json==0.6.7
datasets==2.21.0
debugpy
decorator
defusedxml==0.7.1
Deprecated==1.2.17
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
Django==5.0.3
django-background-tasks==1.2.8
django-cors-headers==4.4.0
django-picklefield==3.2
djangorestframework==3.15.2
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
durationpy==0.9
embedchain==0.1.126
et_xmlfile==2.0.0
eutils==0.6.0
exceptiongroup
executing
fake-useragent
fastapi==0.115.7
fastavro==1.10.0
fastcoref==2.1.6
filelock==3.15.4
flatbuffers==25.1.21
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.186.0
google-auth==2.38.0
google-auth-httplib2==0.2.1
google-cloud-aiplatform==1.79.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
graphviz==0.20.3
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
grpcio-tools==1.70.0
h11==0.14.0
h2
habanero==1.2.6
hpack==4.0.0
httpcore==1.0.6
httplib2==0.31.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.24.6
humanfriendly==10.0
hyperframe
hyperlink==21.0.0
idna
importlib_metadata
importlib_resources==6.5.2
incremental==24.7.2
iniconfig==2.0.0
instructor==1.7.2
ipykernel
ipython
jedi
Jinja2==3.1.4
jiter==0.7.0
joblib
json5==0.10.0
json_repair==0.35.0
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client
jupyter_core
kaggle==1.7.4.5
kiwisolver==1.4.5
kneed==0.8.5
kombu==5.4.2
kubernetes==32.0.0
lancedb==0.18.0
Levenshtein==0.25.1
litellm==1.57.4
lxml
lxml_html_clean==0.2.2
Mako==1.3.8
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.0
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
medspacy_quickumls==3.2
medspacy_unqlite==0.9.6
mem0ai==0.1.48
metapub==0.5.12
mizani==0.13.1
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
neo4j==5.26.0
nest_asyncio
networkx==3.3
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.20.1
openai==1.60.2
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.11.6
overrides==7.7.0
packaging
pandas==2.2.2
parse
parso
pathlib_abc==0.1.1
pathy==0.11.0
patsy==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.5
pexpect
pickleshare
pillow==10.4.0
platformdirs
plotnine==0.14.5
pluggy==1.5.0
portalocker==2.10.1
posthog==3.9.3
preshed==3.0.9
prompt_toolkit
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil
ptyprocess
pure_eval
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydot==3.0.2
pyee
PyFastNER==1.0.10
Pygments
PyJWT==2.10.1
pylance==0.22.0
PyMuPDF==1.24.9
pymupdf4llm==0.0.10
PyMuPDFb==1.24.9
pyOpenSSL==25.0.0
pyparsing==3.1.2
pypdf==5.2.0
pypdfium2==4.30.0
PyPika==0.48.9
pyppeteer==0.0.25
pyproject_hooks==1.2.0
pyquery
pyright==1.1.393
PyRuSH==1.0.8
pysbd==0.3.4
pysimstring==1.2.1
PySocks
pytest==8.3.3
python-dateutil
python-decouple==3.8
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-slugify==8.0.4
pytube==15.0.0
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.2
pyzmq
qdrant-client==1.13.2
quicksectx==0.3.9
rapidfuzz==3.9.7
redis==5.1.1
referencing==0.35.1
regex==2024.11.6
reportlab==4.4.10
requests
requests-html
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.4
schema==0.7.7
scikit-learn==1.6.1
scipy==1.14.0
seaborn==0.13.2
sentence-transformers==3.3.1
service-identity==24.2.0
shapely==2.0.6
shellingham==1.5.4
six
skr_web_api
smart-open==6.4.0
sniffio==1.3.1
soupsieve
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.37
sqlparse==0.5.1
srsly==2.4.8
stack-data
stanford-openie==1.3.2
stanfordnlp==0.2.0
starlette==0.45.3
statsmodels==0.14.4
sympy==1.13.2
tabulate==0.9.0
tavily-python==0.5.0
tenacity==9.0.0
text-unidecode==1.3
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
tomli==2.2.1
tomli_w==1.2.0
torch==2.4.0
tornado
tqdm
traitlets
transformers==4.43.4
Twisted==24.11.0
txaio==23.1.1
typer==0.9.4
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions
tzdata==2024.1
Unidecode==1.3.8
uritemplate==4.2.0
urllib3
uv==0.5.25
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
w3lib
wasabi==1.1.3
watchfiles==1.0.4
wcwidth
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets
wget==3.2
whitenoise==6.7.0
wrapt==1.16.0
xxhash==3.5.0
yarl==1.18.3
zipp
zope.interface==7.2
zstandard==0.23.0